@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom Styles */
svg {
  vertical-align: baseline;
}

.custom-card {
  border-radius: 10px;
}

.todo-title--highlighted {
  font-weight: 800;
  color: #e70909;
}

.delete-icon {
  color: rgb(231 9 9 / 56%);
}
